graphcontainer{
  background-color: black;
  width: 100%;
}

2014{
  background: red
  width:300px;
}

2015{
  background: red
  width:300px;
}

2016{
  background: red
  width:300px;
}

2017{
  background: red
  width:300px;
}

