body{
  background-color: #CCFFFF;
  font-family: 'Shrikhand', cursive;
}
#hero-image{
  background-image:url(hero-image.jpg);
  height:550px;
  width:100%;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
}
#hero-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFE32E;
}
#title{
  font-size:100px;
}
#title-button{
  height:50px;
  width:100px;
  border:none;
  border-radius:20px;
  outline:0;
  text-align:center;
  cursor:pointer;
  background-color:lightgrey;
  text-align:center;
  color:black;
  display: inline-block;
  padding: 10px;
}
#title-button:hover{
  background-color:#555;
  color:white;
}
#slogan{
  font-size:30px;
}
#stats-button{
  height:50px;
  width:100px;
  border:none;
  border-radius:20px;
  outline:0;
  text-align:center;
  cursor:pointer;
  background-color:lightgrey;
  text-align:center;
  color:black;
  display: inline-block;
  padding: 10px;
}
#stats-button:hover{
  background-color:#555;
  color:white;
}